/* You can add global styles to this file, and also import other style files */


body {
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 20px;
  border: 1px solid #DDD;
}

h2{
  font-size: 1.3em
}


